.car-img {
    filter: brightness(50%);
}

@media screen and (min-width:768px) {
    .carousel-caption {
        bottom: 160px;
    }
}

@media screen and (min-width:992px) {
    .height-carousel {
        height: 90vh;
    }

    .carousel-caption {
        bottom: 180px;
    }
}

@media screen and (max-width:576px) {
    .card-f {
        display: flex;
    }
}